
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: #0969D9;
    --primary-foreground: #ffffff;
    --secondary: #F0F0F0;
    --secondary-foreground: #0969D9;
    --muted: #F0F0F0;
    --muted-foreground: #5D6066;
    --accent: #F0F0F0;
    --accent-foreground: #0969D9;
    --destructive: #EA2839;
    --destructive-foreground: #ffffff;
    --border: #E2E2E2;
    --input: #E2E2E2;
    --ring: #BCBDBC;
    --chart-1: #0E97BF;
    --chart-2: #00cda6;
    --chart-3: #31353D;
    --chart-4: #0969D9;
    --chart-5: #0969D9;
    --radius: 0.625rem;
    --sidebar: #ffffff;
    --sidebar-foreground: #0F1114;
    --sidebar-primary: #0969D9;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #F0F0F0;
    --sidebar-accent-foreground: #0969D9;
    --sidebar-border: #E2E2E2;
    --sidebar-ring: #BCBDBC;
    --background: #ffffff;
    --foreground: #0F1114;
  }

  .dark {
    --background: #0F1114;
    --foreground: #ffffff;
    --card: #0F1114;
    --card-foreground: #ffffff;
    --popover: #0F1114;
    --popover-foreground: #ffffff;
    --primary: #ffffff;
    --primary-foreground: #0969D9;
    --secondary: #31353D;
    --secondary-foreground: #ffffff;
    --muted: #31353D;
    --muted-foreground: #BCBDBC;
    --accent: #31353D;
    --accent-foreground: #ffffff;
    --destructive: #EA2839;
    --destructive-foreground: #ffffff;
    --border: #31353D;
    --input: #31353D;
    --ring: #5D6066;
    --chart-1: #0E97BF;
    --chart-2: #00cda6;
    --chart-3: #31353D;
    --chart-4: #0969D9;
    --chart-5: #0969D9;
    --sidebar: #0969D9;
    --sidebar-foreground: #ffffff;
    --sidebar-primary: #0E97BF;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #31353D;
    --sidebar-accent-foreground: #ffffff;
    --sidebar-border: #31353D;
    --sidebar-ring: #5D6066;
  }
}

.theme-login-one {
  --primary: #CE2A2D;
  --primary-foreground: #ffffff;
  --ring: #ce2a2d9c;
  --radius: 0rem;
  font-family: var(--font-sans);
}

.theme-login-two {
  --primary: #0969D9;
  --primary-foreground: #ffffff;
  --ring: #0969d99c;
  font-family: var(--font-sans);
}

.theme-login-three {
  --primary: #00CDA6;
  --primary-foreground: #000;
  --ring: #00CDA6;
  --radius: 1.5rem;
  font-family: var(--font-sans);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
  .btn-secondary {
    @apply bg-white text-primary border border-[#3e9af5] rounded-full;
  }
  .btn-primary {
    @apply bg-primary text-primary-foreground border-none rounded-full;
  }
  .btn-destructive {
    @apply bg-destructive text-destructive-foreground border-none rounded-full;
  }
  .btn-accent {
    @apply bg-accent text-accent-foreground border-none rounded-full;
  }
}
